{% extends"layout.html"%}

{% block title%}
       <title>Hakkımda</title>
    {% endblock title%}

{% block body%}

<h1>Hakkımda</h1>
<hr>
<div class="jumbotron">
<p>Мы ведем проекты от зарождения идеи до ее реализации с
поддержкой проектов в течении их жизни. Предлагаем услуги в разных
сферах, начиная от арт-консультирования, архитектурного
проектирования и дизайна, заканчивая фото и видео съемкой и
организацией различных мероприятий для проекта. Мы не просто
создаем идею, пространство, форму, мы пытаемся их прожить,
потому что мы очень "intO our projects!" / погружены в наши проекты
</p>
</div>
<hr>

{% endblock %}